# ===== TELEGRAM =====
BOT_TOKEN=

# ===== VIRUSTOTAL (asosiy) =====
VT_API_KEY=

# ===== GOOGLE SAFE BROWSING =====
GOOGLE_SAFE_BROWSING_KEY=

# ===== URLSCAN.IO =====
URLSCAN_API_KEY=

# ===== PHISHTANK =====
PHISHTANK_API_KEY=

# ===== ABUSEIPDB =====
ABUSEIPDB_KEY=

# ===== GEMINI AI =====
GEMINI_API_KEY=

# ===== DATABASE =====
DATABASE_URL=sqlite+aiosqlite:///anti_hacker.db

# ===== REDIS =====
REDIS_URL=redis://localhost:6379/0
