# Telegram Bot Token (BotFather dan oling)
BOT_TOKEN=your_bot_token_here

# Google Gemini API Key (AI tahlil uchun)
GEMINI_API_KEY=your_gemini_api_key_here

# VirusTotal API Key (Bepul: https://www.virustotal.com/gui/join-us)
VT_API_KEY=your_virustotal_api_key_here
